<h1> Hiker Details </h1>


<p>First Name <%= @user.firstname %> </p>
<p>Surname <%= @user.surname %> </p>
<p>Email <%= @user.email %> </p>
<p>Password </p>

<button><%= link_to 'Create Hike', new_hike_path %> </button>
